body {
    font-family: 'Work Sans', sans-serif;
    /* padding: 80px; */
}

.navbar-header span {
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
}

.buttonNav {
    margin-right: 20px;
    margin-top: 8px;
    background-color: red;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 5px 30px 5px 30px;
    font-size: 15px;
}

.nav {
    height: 10vh;
    padding-top: 3px;
    padding-bottom: 3px;
}

.cards {
    background-color: white;
    position: relative !important;
    padding: 7% 15% 7% 15%;
    border-radius: 5px;
    color: black;
}

.cards:hover {
    background: linear-gradient(135deg, #5087d3 2%, #2b88d9 23%, #e87d96 68%);
    color: white;
    cursor: pointer;
}

.colorIcon:hover {
    color: white;
}

.cards:hover .hr {
    border: 2px solid white;
}

.cards:hover .colorIcon {
    color: white;
}

.hr {
    width: 20%;
    border: 2px solid rgb(199, 123, 136);
}

.colorIcon {
    color: rgb(199, 123, 136);
}

.py-1 {
    padding-top: 20px;
}

.bgGrey {
    background-color
}

.bg {
    height: 90vh;
    background: linear-gradient(135deg, #5087d3 2%, #2b88d9 23%, #e87d96 68%);
    padding-top: 10%;
    color: white;
    position: relative;
}

.b1 {
    border-radius: 20px;
    background-color: white;
    color: red;
    padding: 7px 40px;
    margin-top: 3.5%;
}

.section h2 {
    font-size: 60px;
    font-weight: bolder;
}

.section h3 {
    line-height: 35px;
}

.port h1 {
    position: absolute;
    margin: 0 auto;
    font-size: 230px;
    color: rgba(0, 0, 0, 0.1);
}

.py-3 {
    padding: 3% 10% 3% 10%;
}

.pFont {
    font-size: 2rem;
}

.h2 {
    font-size: 4rem;
    color: rgb(228, 17, 52);
    font-weight: bold;
}

.icon2 {
    color: grey;
}

.py-4 {
    padding-top: 2 %;
    padding-bottom: 3%;
}

.my-1 {
    margin-top: 67px;
}